body{
  background-color: #DDDDDD;
}
h1{
  font-style: arial;
  padding-left: 70px;
  padding-top: 100px;
  margin: 0;
}
.column{
  width:50%;
  height:400px;
}

#left-column{
  background-color: #001f3f;
  float:left;
  width: 50%;
  color: #DDDDDD;
  font-size: 15px;
  font-family: Arial;
  line-height: 1.5;
}

#right-column{
  background-color: #FF4136;
  float:right;
  width: 50%;
    color: #DDDDDD;
      font-size: 15px;
      font-family: Arial;
      line-height: 1.5;
}

ul{
  padding: 6%;
}

#footer{
  background-color: #3D9970;
  position:absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
